# R-related
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Languages
Python/*
!Python/*.py
# Reports
Reports/*
!Reports/*.tex
!Reports/*.sty
!Reports/*.png
!Reports/*.pdf
Reports/**/*
!Reports/**/*.tex
!Reports/**/*.sty
!Reports/**/*.png
!Reports/**/*.pdf
Abstracts/*
!Abstracts/*.tex
!Abstracts/*.sty
!Abstracts/*.doc
