# R-related
.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
# Languages
Python/*
!Python/*.py
# Reports
Reports/**/*.synctex.gz
Reports/**/*.aux
Reports/**/*.log
Reports/**/*.nav
Reports/**/*.out
Reports/**/*.snm
Reports/**/*.toc
Abstracts/*
!Abstracts/*.tex
!Abstracts/*.sty
!Abstracts/*.doc

*.bbl
*.blg
*.fls
*.fdb_latexmk
*.bcf
*.run.xml
*.synctex.gz

.~lock.*
.DS_Store