## Open-Source ##
# R-related
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Languages
C++/*
Python/*
!Python/*.py
# Reports
Reports/*.aux
Reports/*.log
Reports/*.out
Reports/*synctex.gz
Reports/*.pdf
Abstracts/*
!Abstracts/*.tex
!Abstracts/*.sty
!Abstracts/*.doc

## Proprietary? ##
OptiMScripts/*
COSYINF/*
